#pragma once

namespace Kernels::Host {
template <typename SrcWrapper, typename DstWrapper>
void {{OP_SNAKE}}(SrcWrapper input, DstWrapper output{{PARAMS_CPP_DECL}}) {
    for (int b = 0; b < output.batches(); b++) {
        for (int y = 0; y < output.height(); y++) {
            for (int x = 0; x < output.width(); x++) {
                // TODO: implement the operator. The default below is a pass-through copy.
                output.at(b, y, x, 0) = input.at(b, y, x, 0);
            }
        }
    }
}
}  // namespace Kernels::Host
